/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.idea
/.nova
/.vagrant
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env
log/capistrano.log

/.phpunit.cache
.phpunit.result.cache